@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--
    Cool websites to inspire:
    https://www.whatismissing.org/

    https://digital-cover.com/ go to the part where pages come at you as you scroll

    https://hadaka.jp/ demonstrates parallax scrolling

    https://blog.hubspot.com/website/parallax-scrolling gives code on how to add parallax scrolling

    https://browserhistory.squarespace.com/home look at how to change color of images based on the letters going over the image

    https://canals-amsterdam.com/ scrolling down moves images side to side
    thinking maybe focusing more on backend
    rethinking to work in python instead
-->